<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="nome-id">Nome</label>
        <input type="text" id="nome-id" pInputText name="nome" [(ngModel)]="filtro.nome">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" class="ui-button-rounded"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        [responsive]=true (onLazyLoad)="aoMudarPaginaNaTabela($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th>Operações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>
              <span class="ui-column-title">Nome</span>
              {{pessoa.nome}}
            </td>
            <td>
              <span class="ui-column-title">Cidade</span>
              {{pessoa.endereco.cidade}}
            </td>
            <td>
              <span class="ui-column-title">Estado</span>
              {{pessoa.endereco.estado}}
            </td>
            <td>
              <span class="ui-column-title">Status</span>
              <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="mudarStatus(pessoa)">
                {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
              </a>
            </td>
            <td class="col-operacoes">
              <span class="ui-column-title">Operações</span>
              <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-rounded"></button>
              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top" class="ui-button-rounded"
                (click)="confirmarExclusao(pessoa)">
              </button>
            </td>
          </tr>
        </ng-template>

      </p-table>

    </div>
    <div class="ui-g-12">
      <button pButton label="Nova Pessoa" class="ui-button-rounded ui-button-secondary"></button>
    </div>
  </div>
</div>
