<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="nome-id">Nome</label>
      <input type="text" id="nome-id" pInputText>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" class="ui-button-rounded"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>

    </div>
    <div class="ui-g-12">
      <button pButton label="Nova Pessoa" class="ui-button-rounded ui-button-secondary"></button>
    </div>
  </div>
</div>
