<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>


      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="vencimento-id">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="recebimento-id">{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="descricao-id">Descrição</label>
        <input type="text" id="descricao-id" pInputText name="descricao" ngModel #descricao="ngModel" required
          minlength="5">

        <div>
          <p-message severity="error" text="Informe uma descrição" *ngIf="descricao.hasError('required') && descricao.dirty"></p-message>

          <p-message severity="error" text="Mínimo {{ descricao.errors.minlength.requiredLength }} caracteres." *ngIf="descricao.hasError('minlength') && descricao.dirty"></p-message>
        </div>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor-id">Valor</label>
        <input ngModel name="valor" type="text" id="valor-id" placeholder="0,00" pInputText currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false }">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="categoria-id">Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="pessoa-id">Pessoa</label>
        <p-dropdown [options]="pessoas" [autoWidth]="false" placeholder="Selecione" [filter]="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="observacao-id">Observação</label>
        <textarea id="observacao-id" rows="3" cols="30" pInputTextarea></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" icon="fa fa-check" class="ui-button-rounded ui-button-success">
        </button>

        <button pButton type="submit" label="Novo" icon="pi pi-plus" class="ui-button-rounded ui-button-info">
        </button>

        <a href="#">Voltar para a pesquisa</a>

      </div>
    </div>
  </form>
</div>
