<div class="container">
  <form #lancamentoForm="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo name="tipoLancamento" ngModel #tipoLancamento="ngModel" required></p-selectButton>

        <app-mensagem [control]="tipoLancamento" erro="required" texto="Selecione um tipo."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="vencimento-id">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimento" ngModel #dataVencimento="ngModel" required></p-calendar>

        <app-mensagem [control]="dataVencimento" erro="required" texto="Informe uma data de vencimento."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="recebimento-id">{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="descricao-id">Descrição</label>
        <input type="text" id="descricao-id" pInputText name="descricao" ngModel #descricao="ngModel" required
          minlength="5">

        <app-mensagem [control]="descricao" erro="required" texto="Informe uma descrição."></app-mensagem>
        <app-mensagem [control]="descricao" erro="minlength" texto="Mínimo {{ descricao?.errors?.minlength?.requiredLength }} caracteres."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor-id">Valor</label>
        <input type="text" id="valor-id" placeholder="0,00" pInputText currencyMask [options]="{ prefix: 'R$',  thousands: '.', decimal: ',', allowNegative: false }"
          name="valor" ngModel #valor="ngModel" required>

        <app-mensagem [control]="valor" erro="required" texto="Informe o valor."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="categoria-id">Categoria</label>

        <p-dropdown id="categoria-id" [options]="categorias" [autoWidth]="false" placeholder="Selecione" name="categoria"
          ngModel #categoria="ngModel" required>
        </p-dropdown>

        <app-mensagem [control]="categoria" erro="required" texto="Selecione uma categoria."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="pessoa-id">Pessoa</label>
        <p-dropdown id="pessoa-id" [options]="pessoas" [autoWidth]="false" placeholder="Selecione" [filter]="true" name="pessoa"
          ngModel #pessoa="ngModel" required></p-dropdown>

        <app-mensagem [control]="pessoa" erro="required" texto="Selecione uma pessoa."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="observacao-id">Observação</label>
        <textarea id="observacao-id" rows="3" cols="30" pInputTextarea></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" icon="fa fa-check" class="ui-button-rounded ui-button-success"
          [disabled]="!lancamentoForm.valid">
        </button>

        <button pButton type="submit" label="Novo" icon="pi pi-plus" class="ui-button-rounded ui-button-info">
        </button>

        <a href="#">Voltar para a pesquisa</a>

      </div>
    </div>
  </form>
</div>
