<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="descricao-id">Descrição</label>
        <input type="text" id="descricao-id" pInputText name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block;">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" showButtonBar="true" [locale]="pt_BR"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" showButtonBar="true" [locale]="pt_BR"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" class="ui-button-rounded"></button>
      </div>
    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="lancamentos" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [responsive]=true
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo</th>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data">Vencimento</th>
            <th class="col-data">Pagamento</th>
            <th class="col-valor-h">Valor</th>
            <th class="col-operacoes">Operações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>
              <span class="ui-column-title">Tipo</span>
              {{lancamento.tipo}}
            </td>
            <td>
              <span class="ui-column-title">Pessoa</span>
              {{lancamento.pessoa}}
            </td>
            <td>
              <span class="ui-column-title">Descrição</span>
              {{lancamento.descricao}}
            </td>
            <td class="col-data">
              <span class="ui-column-title">Vencimento</span>
              {{lancamento.dataVencimento | date:'dd/MM/y' }}
            </td>
            <td class="col-data">
              <span class="ui-column-title">Pagamento</span>
              {{lancamento.dataPagamento | date:'dd/MM/y' }}
            </td>
            <td class="col-valor">
              <span class="ui-column-title">Valor</span>
              <span [ngStyle]="{ color: getCorValor(lancamento.tipo) }">
                {{lancamento.valor | number:'1.2-2' }}
              </span>
            </td>
            <td class="col-operacoes">
              <span class="ui-column-title">Operações</span>
              <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-rounded" [routerLink]="['/lancamentos', lancamento.codigo]"></button>

              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top" class="ui-button-rounded"
                (click)="confirmarExclusao(lancamento)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div class="ui-g-12">
      <button pButton label="Novo Lançamento" class="ui-button-rounded ui-button-secondary" routerLink="/lancamentos/novo"></button>
    </div>
  </div>
</div>
