<div class="container">
  <form (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo'}} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo name="tipoLancamento" formControlName="tipo"></p-selectButton>

        <app-mensagem [control]="formulario.get('tipo')" erro="required" texto="Selecione um tipo."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimento" formControlName="dataVencimento"></p-calendar>

        <app-mensagem [control]="formulario.get('dataVencimento')" erro="required"
          texto="Informe uma data de vencimento."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" formControlName="dataPagamento" name="dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="descricao-id">Descrição</label>
        <input type="text" id="descricao-id" pInputText name="descricao" formControlName="descricao">

        <app-mensagem [control]="formulario.get('descricao')" erro="campoObrigatorio" texto="Informe uma descrição.">
        </app-mensagem>
        <app-mensagem [control]="formulario.get('descricao')" erro="tamanhoMinimo"
          texto="Mínimo {{ formulario.get('descricao')?.errors?.tamanhoMinimo?.tamanho }} caracteres.">
        </app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor-id">Valor</label>
        <input type="text" id="valor-id" placeholder="0,00" pInputText currencyMask
          [options]="{ prefix: 'R$',  thousands: '.', decimal: ',', allowNegative: false }" name="valor"
          formControlName="valor">

        <app-mensagem [control]="formulario.get('valor')" erro="required" texto="Informe o valor."></app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label for="categoria-id">Categoria</label>

        <p-dropdown id="categoria-id" [options]="categorias" [autoWidth]="false" placeholder="Selecione"
          name="categoria" formControlName="codigo">
        </p-dropdown>

        <app-mensagem [control]="formulario.get(['categoria','codigo'])" erro="required"
          texto="Selecione uma categoria.">
        </app-mensagem>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label for="pessoa-id">Pessoa</label>
        <p-dropdown id="pessoa-id" [options]="pessoas" [autoWidth]="false" placeholder="Selecione" [filter]="true"
          name="pessoa" formControlName="codigo"></p-dropdown>

        <app-mensagem [control]="formulario.get(['pessoa','codigo'])" erro="required" texto="Selecione uma pessoa.">
        </app-mensagem>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="observacao-id">Observação</label>
        <textarea id="observacao-id" rows="3" cols="30" pInputTextarea name="observacao"
          formControlName="observacao"></textarea>
      </div>

      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid"
        *ngIf="!formulario.get('anexo').value; else downloadAnexo">
        <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="10000000" chooseLabel="Anexar"
          accept="image/*,application/*" [url]="urlUploadAnexo" (onBeforeSend)="antesUploadAnexo($event)"
          (onUpload)="aoTerminarUploadAnexo($event)" (onError)="erroUpload()" [hidden]="uploadEmAndamento">
        </p-fileUpload>

        <p-progressSpinner [style]="{width:'25px', height:'25px'}" [hidden]="!uploadEmAndamento"></p-progressSpinner>

      </div>

      <ng-template #downloadAnexo>
        <div class="ui-g-12 ui-fluid" dir="rtl">
          <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
            [href]="formulario.get('urlAnexo').value">{{nomeAnexo}}</a>
        </div>
      </ng-template>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" icon="fa fa-check" class="ui-button-rounded ui-button-success"
          [disabled]="formulario.invalid">
        </button>

        <button pButton type="button" label="Novo" icon="pi pi-plus" class="ui-button-rounded ui-button-info"
          (click)="novoLancamento()">
        </button>

        <a routerLink="/lancamentos">Voltar para a pesquisa</a>

      </div>
    </div>
  </form>
</div>
