<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label for="nome-id">Nome</label>
        <input type="text" id="nome-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro-id">Logradouro</label>
        <input type="text" id="logradouro-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero-id">Número</label>
        <input type="text" id="numero-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="complemento-id">Complemento</label>
        <input type="text" id="complemento-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="bairro-id">Bairro</label>
        <input type="text" id="bairro-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="cep-id">CEP</label>
        <input type="text" id="cep-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="cidade-id">Cidade</label>
        <input type="text" id="cidade-id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="estado-id">Estado</label>
        <input type="text" id="estado-id" pInputText>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" icon="fa fa-check" class="ui-button-rounded ui-button-success">
        </button>

        <button pButton type="submit" label="Novo" icon="pi pi-plus" class="ui-button-rounded ui-button-info">
        </button>

        <a href="#">Voltar para a pesquisa</a>

      </div>
    </div>
  </form>

</div>
